In [1]:
import pandas as pd
from pathlib import Path

In [2]:
file_train_summary=Path("Resources/Summary.csv")
file_housing=Path("Resources/Housing_data.csv")
train_df=pd.read_csv(file_train_summary)
housing_df=pd.read_csv(file_housing)
train_df.head()
train_df.loc[train_df["City council"].str.contains("More")]

Empty DataFrame
Columns: [City council, Distance, TotalAnnual, TotalAMPeak, TotalPMPeak, TotalWeekday, TotalWeekend, TotalOffpeak, TotalIncrease(%), WeekdayIncrease(%), AMIncrease(%), PMIncrease(%), OffPeakIncrease(%), WeekendIncrease(%)]
Index: []

In [3]:
housing_df=housing_df.rename(columns={"City Council_name house files":"City council"})

In [4]:
housing_df.head()

,With train,City council,City Council_only with train,City Council_format2,Year,House Number of Sales,Unit/Apartment Number of Sales,Vacant House Number of Sales,Total Number of Sales
0,No,Alpine Shire,NaN,Alpine S,2018,218,64,106,388
1,No,Alpine Shire,NaN,Alpine S,2019,214,44,69,327
2,No,Alpine Shire,NaN,Alpine S,2020,244,47,96,387
3,No,Alpine Shire,NaN,Alpine S,2021,252,65,72,389
4,No,Ararat Rural City,NaN,Ararat Rural C,2018,209,22,25,256

In [5]:
# # Merge the two dataframes on the "City council" column
# merged_df = pd.merge(train_df, housing_df, on="City council")
# merged_df
# # Pivot the merged dataframe to create the desired columns
# pivot_df = merged_df.pivot(index="City council", columns="Year", values=["House Number of Sales","Unit/Apartment Number of Sales", "Vacant House Number of Sales","Total Number of Sales"])

# # Rename the columns to match your desired format
# pivot_df.columns = [f"Total annual_{year}" for year in pivot_df.columns]

# # Reset the index to make "City council" a regular column
# pivot_df.reset_index(inplace=True)
# pivot_df

In [6]:
pivot_housing=housing_df.pivot(index="City council", columns="Year", values=["House Number of Sales","Unit/Apartment Number of Sales", "Vacant House Number of Sales","Total Number of Sales"])
pivot_housing.columns

MultiIndex([(         'House Number of Sales', 2018),
            (         'House Number of Sales', 2019),
            (         'House Number of Sales', 2020),
            (         'House Number of Sales', 2021),
            ('Unit/Apartment Number of Sales', 2018),
            ('Unit/Apartment Number of Sales', 2019),
            ('Unit/Apartment Number of Sales', 2020),
            ('Unit/Apartment Number of Sales', 2021),
            (  'Vacant House Number of Sales', 2018),
            (  'Vacant House Number of Sales', 2019),
            (  'Vacant House Number of Sales', 2020),
            (  'Vacant House Number of Sales', 2021),
            (         'Total Number of Sales', 2018),
            (         'Total Number of Sales', 2019),
            (         'Total Number of Sales', 2020),
            (         'Total Number of Sales', 2021)],
           names=[None, 'Year'])

In [7]:
# Flatten the MultiIndex columns
pivot_housing.columns = [f'{level1}_{level2}' if level2 else level1 for level1, level2 in pivot_housing.columns]

In [8]:
pivot_housing

,House Number of Sales_2018,House Number of Sales_2019,House Number of Sales_2020,House Number of Sales_2021,Unit/Apartment Number of Sales_2018,Unit/Apartment Number of Sales_2019,Unit/Apartment Number of Sales_2020,Unit/Apartment Number of Sales_2021,Vacant House Number of Sales_2018,Vacant House Number of Sales_2019,Vacant House Number of Sales_2020,Vacant House Number of Sales_2021,Total Number of Sales_2018,Total Number of Sales_2019,Total Number of Sales_2020,Total Number of Sales_2021
City council,,,,,,,,,,,,,,,,
Alpine Shire,218,214,244,252,64,44,47,65,106,69,96,72,388,327,387,389
Ararat Rural City,209,194,193,224,22,20,22,29,25,15,42,27,256,229,257,280
Ballarat City,"2,478","2,142","2,142","2,474",559,418,455,486,"1,879","1,499","1,876","1,100",4916,4059,4473,4060
Banyule City,"1,277","1,254","1,048","1,599",862,932,794,"1,151",19,26,19,18,2158,2212,1861,2768
Bass Coast Shire,"1,148",958,"1,166","1,347",209,168,168,245,876,445,829,606,2233,1571,2163,2198
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wodonga City,714,644,740,914,122,119,125,163,327,320,601,327,1163,1083,1466,1404
Wyndham City,"3,960","3,697","3,545","6,000",585,433,346,607,"4,355","2,412","3,965","3,222",8900,6542,7856,9829
Yarra City,709,697,648,"1,087","1,598","1,158",994,"1,512",2,2,2,2,2309,1857,1644,2601
Yarra Ranges Shire,"2,064","1,973","1,790","2,324",357,368,429,563,159,194,255,195,2580,2535,2474,3082
Yarriambiack Shire,159,126,153,159,2,4,3,1,27,29,27,36,188,159,183,196