In [2]:
#Importing dependencies 
import pandas as pd 
import os

In [3]:
#Please Note that the orignal dataset will not be present in Git repository

In [4]:
#Defining path to file
file_path = "Resources/Trips_VISTA_1220_LGA_v1.csv"

In [5]:
#Checking if the path can be read
os.path.isfile(file_path)

True

In [6]:
#Reading the csv file.
file = pd.read_csv(file_path, low_memory=False)

In [7]:
#Checking for duplicate trip ID
file.duplicated(subset='tripid').any()

False

In [8]:
#Checking csv columns names
file.head().columns

Index(['tripid', 'persid', 'hhid', 'stops', 'tripno', 'starthour', 'startime',
       'arrhour', 'arrtime', 'triptime', 'travtime', 'waitime', 'duration',
       'cumdist', 'origplace1', 'origplace2', 'origpurp1', 'origpurp2',
       'destplace1', 'destplace2', 'destpurp1', 'destpurp2', 'origLGA',
       'destLGA', 'trippurp', 'linkmode', 'dist1', 'dist2', 'dist3', 'dist4',
       'dist5', 'dist6', 'dist7', 'dist8', 'dist9', 'dist10', 'mode1', 'mode2',
       'mode3', 'mode4', 'mode5', 'mode6', 'mode7', 'mode8', 'mode9', 'mode10',
       'time1', 'time2', 'time3', 'time4', 'time5', 'time6', 'time7', 'time8',
       'time9', 'time10', 'wdtripwgt_LGA', 'wetripwgt_LGA'],
      dtype='object')

In [9]:
#Display file
file.head()

,tripid,persid,hhid,stops,tripno,starthour,startime,arrhour,arrtime,triptime,...,time3,time4,time5,time6,time7,time8,time9,time10,wdtripwgt_LGA,wetripwgt_LGA
0,Y12H0000101P01T01,Y12H0000101P01,Y12H0000101,1,1,8,525,9,545,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.36,NaN
1,Y12H0000101P01T02,Y12H0000101P01,Y12H0000101,1,2,17,1050,17,1075,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.36,NaN
2,Y12H0000101P02T01,Y12H0000101P02,Y12H0000101,1,1,8,500,8,520,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.69,NaN
3,Y12H0000101P02T02,Y12H0000101P02,Y12H0000101,1,2,9,540,9,550,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.69,NaN
4,Y12H0000101P02T03,Y12H0000101P02,Y12H0000101,1,3,10,600,10,610,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.69,NaN

In [9]:
#Displaying train_df Table
train_df = file

In [10]:
#Looking at removing certain columns
train_df.head().columns

Index(['tripid', 'persid', 'hhid', 'stops', 'tripno', 'starthour', 'startime',
       'arrhour', 'arrtime', 'triptime', 'travtime', 'waitime', 'duration',
       'cumdist', 'origplace1', 'origplace2', 'origpurp1', 'origpurp2',
       'destplace1', 'destplace2', 'destpurp1', 'destpurp2', 'origLGA',
       'destLGA', 'trippurp', 'linkmode', 'dist1', 'dist2', 'dist3', 'dist4',
       'dist5', 'dist6', 'dist7', 'dist8', 'dist9', 'dist10', 'mode1', 'mode2',
       'mode3', 'mode4', 'mode5', 'mode6', 'mode7', 'mode8', 'mode9', 'mode10',
       'time1', 'time2', 'time3', 'time4', 'time5', 'time6', 'time7', 'time8',
       'time9', 'time10', 'wdtripwgt_LGA', 'wetripwgt_LGA'],
      dtype='object')

In [11]:
#Delete useless columns 
del train_df['wdtripwgt_LGA']
del train_df['wetripwgt_LGA']
del train_df['starthour']
del train_df['arrhour']
del train_df['hhid']
#Checking columns after deletion 
train_df.head().columns

Index(['tripid', 'persid', 'stops', 'tripno', 'startime', 'arrtime',
       'triptime', 'travtime', 'waitime', 'duration', 'cumdist', 'origplace1',
       'origplace2', 'origpurp1', 'origpurp2', 'destplace1', 'destplace2',
       'destpurp1', 'destpurp2', 'origLGA', 'destLGA', 'trippurp', 'linkmode',
       'dist1', 'dist2', 'dist3', 'dist4', 'dist5', 'dist6', 'dist7', 'dist8',
       'dist9', 'dist10', 'mode1', 'mode2', 'mode3', 'mode4', 'mode5', 'mode6',
       'mode7', 'mode8', 'mode9', 'mode10', 'time1', 'time2', 'time3', 'time4',
       'time5', 'time6', 'time7', 'time8', 'time9', 'time10'],
      dtype='object')

In [12]:
#Clean up trippurp column 
train_df.drop(train_df[train_df['trippurp'] == 'Not Stated'].index, inplace = True)
train_df.drop(train_df[train_df['trippurp'] == 'Unknown Purpose'].index, inplace = True)

In [13]:
#Checking mode value to see which columns actually contain 'Trains'
for i in range(1,11,1):
    #If values in mode column does not contain any 'Train' values, delete that column
    if (train_df.loc[train_df['mode' +str(i)] == 'Train'].any().any()) == False:
        del train_df['mode'+str(i)]
        #Also delete Time and Distance column assoicated with it
        del train_df['time'+str(i)]
        del train_df['dist'+str(i)]
        print(f"Mode{i} Does not contain train values")
    else:
        print(f"Mode{i} contains train values")

Mode1 contains train values
Mode2 contains train values
Mode3 contains train values
Mode4 contains train values
Mode5 contains train values
Mode6 contains train values
Mode7 contains train values
Mode8 Does not contain train values
Mode9 Does not contain train values
Mode10 Does not contain train values

In [14]:
#Extract year from trip id 
#Create empty list to hold year values
year = []
#Loop through data, and append year value into list
for i in range(len(train_df)):
    year.append("20" + train_df['tripid'].iloc[i][1:3])

In [15]:
#Adding year column into dataframe
train_df.insert(loc = 2,
               column = 'Year',
               value = year)

In [16]:
train_df.head().columns

Index(['tripid', 'persid', 'Year', 'stops', 'tripno', 'startime', 'arrtime',
       'triptime', 'travtime', 'waitime', 'duration', 'cumdist', 'origplace1',
       'origplace2', 'origpurp1', 'origpurp2', 'destplace1', 'destplace2',
       'destpurp1', 'destpurp2', 'origLGA', 'destLGA', 'trippurp', 'linkmode',
       'dist1', 'dist2', 'dist3', 'dist4', 'dist5', 'dist6', 'dist7', 'mode1',
       'mode2', 'mode3', 'mode4', 'mode5', 'mode6', 'mode7', 'time1', 'time2',
       'time3', 'time4', 'time5', 'time6', 'time7'],
      dtype='object')

In [17]:
#checking all columns for any NaN values 
for value in train_df.columns:
    if train_df[value].isna().any() == True:
        print(f"{value} column contains NaN values")

duration column contains NaN values
origplace2 column contains NaN values
dist2 column contains NaN values
dist3 column contains NaN values
dist4 column contains NaN values
dist5 column contains NaN values
dist6 column contains NaN values
dist7 column contains NaN values
mode2 column contains NaN values
mode3 column contains NaN values
mode4 column contains NaN values
mode5 column contains NaN values
mode6 column contains NaN values
mode7 column contains NaN values
time2 column contains NaN values
time3 column contains NaN values
time4 column contains NaN values
time5 column contains NaN values
time6 column contains NaN values
time7 column contains NaN values

In [18]:
#Replacing NaN values with zero
train_df = train_df.fillna(0)

In [19]:
#Changing LGA values to match other datasets 
train_df = train_df.replace({'Whittlesea (C)':'Whittlesea C', 'Banyule (C)':'Banyule C', 'Hume (C)':'Hume C',
                                        'Whitehorse (C)':'Whitehorse C','Darebin (C)':'Darebin C', 
                                        'Knox (C)':'Knox C', 'Maroondah (C)':'Maroondah C',
                                        'Nillumbik (S)':'Nillumbik S','Manningham (C)':'Manningham C', 
                                        'Maribyrnong (C)':'Maribyrnong C', 'Moreland (C)':'Moreland C',
                                        'Boroondara (C)':'Boroondara C', 'Yarra (C)':'Yarra C', 'Melton (C)':'Melton C',
                                        'Brimbank (C)':'Brimbank C','Melbourne (C)':'Melbourne C', 
                                        'Frankston (C)':'Frankston C', 'Greater Dandenong (C)':'Greater Dandenong C',
                                        'Kingston (C) (Vic.)':'Kingston C', 'Mornington Peninsula (S)':'Mornington Peninsula S',
                                        'Hobsons Bay (C)':'Hobsons Bay C', 'Monash (C)':'Monash C', 
                                        'Stonnington (C)':'Stonnington C', 'Wyndham (C)':'Wyndham C','Glen Eira (C)':'Glen Eira C',
                                        'Port Phillip (C)':'Port Phillip C', 'Bayside (C)':'Bayside C','Greater Geelong (C)':'Greater Geelong C',
                                        'Casey (C)':'Casey C', 'Moonee Valley C':'Moonee Valley C','Macedon Ranges (S)':'Macedon Ranges S', 
                                        'Yarra Ranges (S)':'Yarra Ranges S', 'Moorabool (S)':'Moorabool S','Cardinia (S)':'Cardinia S',
                                        'Queenscliffe (B)':'Queenscliffe B', 'Golden Plains (S)':'Golden Plains S','Murrindindi (S)':'Murrindindi S',
                                        'Surf Coast (S)':'Surf Coast S', 'Mitchell (S)':'Mitchell S','Moonee Valley (C)':'Moonee Valley C',
                                        'Baw Baw (S)':'Baw Baw S',
                                        'Latrobe (C) (Vic.)':'Latrobe C',
                                        'Mansfield (S)':'Mansfield S',
                                        'Wellington (S)':'Wellington S',
                                        'Ballarat (C)':'Ballarat C',
                                        'Colac-Otway (S)':'Colac-Otway S',
                                        'South Gippsland (S)':'South Gippsland S',
                                        'Hepburn (S)':'Hepburn S',
                                        'Bass Coast (S)':'Bass Coast S',
                                        'Central Goldfields (S)':'Central Goldfields S',
                                        'Southern Grampians (S)':'Southern Grampians S',
                                        'Strathbogie (S)':'Strathbogie S',
                                        'East Gippsland (S)':'East Gippsland S',
                                        'Greater Bendigo (C)':'Greater Bendigo C',
                                        'Alpine (S)':'Alpine S',
                                        'Greater Shepparton (C)':'Greater Shepparton C',
                                        'Mount Alexander (S)':'Mount Alexander S',
                                        'West Wimmera (S)':'West Wimmera S',
                                        'Warrnambool (C)':'Warrnambool C',
                                        'Swan Hill (RC)':'Swan Hill RC',
                                        'Unincorporated Vic':'Unincorporated Vic',
                                        'Horsham (RC)':'Horsham RC',
                                        'Indigo (S)':'Indigo S',
                                        'Campaspe (S)':'Campaspe S',
                                        'Ararat (RC)':'Ararat RC',
                                        'Glenelg (S)':'Glenelg S',
                                        'Wangaratta (RC)':'Wangaratta RC',
                                        'Yarriambiack (S)':'Yarriambiack S',
                                        'Benalla (RC)':'Benalla RC',
                                        'Corangamite (S)':'Corangamite S',
                                        'Moyne (S)':'Moyne S',
                                        'Moira (S)':'Moira S',
                                        'Buloke (S)':'Buloke S',
                                        'Pyrenees (S)':'Pyrenees S',
                                        'Northern Grampians (S)':'Northern Grampians S',
                                        'Loddon (S)':'Loddon S'})

In [20]:
#Renaming columns 
train_df = train_df.rename(columns={"tripid":"Trip_ID",
                                    "persid":"Person_ID",
                                    "stops":"Total_Stops",
                                    "tripno":"Trip_Count",
                                    "startime":"Start_Time",
                                    "arrtime":"Arrival_Time",
                                    "triptime":"Trip_Time",
                                    "travtime":"Travel_Time",
                                    "waitime":"Wait_Time",
                                    "duration":"Duration",
                                    "cumdist":"Total_Distance",
                                    "origplace1":"Original_Place_1",
                                    "origpurp1":"Original_Purpose_1",
                                    "origplace2":"Original_Place_2",
                                    "origpurp2":"Original_Purpose_2",
                                    "destplace1":"Destination_1",
                                    "destpurp1":"Dest_Purpose_1",
                                    "destplace2":"Destination_2",
                                    "destpurp2":"Dest_Purpose_2",
                                    "origLGA":"Starting_LGA",
                                    "destLGA":"Ending_LGA",
                                    "trippurp":"Trip_Purpose",
                                    "linkmode":"Link_Mode",
                                    "dist1":"Dist_1",
                                    'dist2':"Dist_2",
                                    'dist3':"Dist_3",
                                    'dist4':"Dist_4",
                                    'dist5':"Dist_5",
                                    'dist6':"Dist_6",
                                    'dist7':"Dist_7",
                                    'mode1':"Mode_1",
                                    'mode2':"Mode_2",
                                    'mode3':"Mode_3",
                                    'mode4':"Mode_4",
                                    'mode5':"Mode_5",
                                    'mode6':"Mode_6",
                                    'mode7':"Mode_7",
                                    'time1':"Time_1",
                                    'time2':"Time_2",
                                    'time3':"Time_3",
                                    'time4':"Time_4",
                                    'time5':"Time_5",
                                    'time6':"Time_6",
                                    'time7':"Time_7"})

In [21]:
#Checking columns names have been changed
train_df.columns

Index(['Trip_ID', 'Person_ID', 'Year', 'Total_Stops', 'Trip_Count',
       'Start_Time', 'Arrival_Time', 'Trip_Time', 'Travel_Time', 'Wait_Time',
       'Duration', 'Total_Distance', 'Original_Place_1', 'Original_Place_2',
       'Original_Purpose_1', 'Original_Purpose_2', 'Destination_1',
       'Destination_2', 'Dest_Purpose_1', 'Dest_Purpose_2', 'Starting_LGA',
       'Ending_LGA', 'Trip_Purpose', 'Link_Mode', 'Dist_1', 'Dist_2', 'Dist_3',
       'Dist_4', 'Dist_5', 'Dist_6', 'Dist_7', 'Mode_1', 'Mode_2', 'Mode_3',
       'Mode_4', 'Mode_5', 'Mode_6', 'Mode_7', 'Time_1', 'Time_2', 'Time_3',
       'Time_4', 'Time_5', 'Time_6', 'Time_7'],
      dtype='object')

In [22]:
#Displaying dataframe
train_df.head()

,Trip_ID,Person_ID,Year,Total_Stops,Trip_Count,Start_Time,Arrival_Time,Trip_Time,Travel_Time,Wait_Time,...,Mode_5,Mode_6,Mode_7,Time_1,Time_2,Time_3,Time_4,Time_5,Time_6,Time_7
0,Y12H0000101P01T01,Y12H0000101P01,2012,1,1,525,545,20,20,0,...,0,0,0,20,0.0,0.0,0.0,0.0,0.0,0.0
1,Y12H0000101P01T02,Y12H0000101P01,2012,1,2,1050,1075,25,25,0,...,0,0,0,25,0.0,0.0,0.0,0.0,0.0,0.0
2,Y12H0000101P02T01,Y12H0000101P02,2012,1,1,500,520,20,20,0,...,0,0,0,20,0.0,0.0,0.0,0.0,0.0,0.0
3,Y12H0000101P02T02,Y12H0000101P02,2012,1,2,540,550,10,10,0,...,0,0,0,10,0.0,0.0,0.0,0.0,0.0,0.0
4,Y12H0000101P02T03,Y12H0000101P02,2012,1,3,600,610,10,10,0,...,0,0,0,10,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
#Create a csv file for the dataframe
train_df.to_csv("Resources/VISTA_cleaned.csv",index=False)