In [1]:
#Importing dependencies 
import pandas as pd 
import os

In [2]:
#Defining path to file
file_path = "/Users/petertram/Desktop/Trips_VISTA_1220_LGA_v1.csv"

In [3]:
#Checking if the path can be read
os.path.isfile(file_path)

True

In [4]:
#Reading the csv file.
file = pd.read_csv(file_path, low_memory=False)

In [5]:
#Checking csv columns names
file.head().columns

Index(['tripid', 'persid', 'hhid', 'stops', 'tripno', 'starthour', 'startime',
       'arrhour', 'arrtime', 'triptime', 'travtime', 'waitime', 'duration',
       'cumdist', 'origplace1', 'origplace2', 'origpurp1', 'origpurp2',
       'destplace1', 'destplace2', 'destpurp1', 'destpurp2', 'origLGA',
       'destLGA', 'trippurp', 'linkmode', 'dist1', 'dist2', 'dist3', 'dist4',
       'dist5', 'dist6', 'dist7', 'dist8', 'dist9', 'dist10', 'mode1', 'mode2',
       'mode3', 'mode4', 'mode5', 'mode6', 'mode7', 'mode8', 'mode9', 'mode10',
       'time1', 'time2', 'time3', 'time4', 'time5', 'time6', 'time7', 'time8',
       'time9', 'time10', 'wdtripwgt_LGA', 'wetripwgt_LGA'],
      dtype='object')

In [6]:
#Display file
file.head()

,tripid,persid,hhid,stops,tripno,starthour,startime,arrhour,arrtime,triptime,...,time3,time4,time5,time6,time7,time8,time9,time10,wdtripwgt_LGA,wetripwgt_LGA
0,Y12H0000101P01T01,Y12H0000101P01,Y12H0000101,1,1,8,525,9,545,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.36,NaN
1,Y12H0000101P01T02,Y12H0000101P01,Y12H0000101,1,2,17,1050,17,1075,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.36,NaN
2,Y12H0000101P02T01,Y12H0000101P02,Y12H0000101,1,1,8,500,8,520,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.69,NaN
3,Y12H0000101P02T02,Y12H0000101P02,Y12H0000101,1,2,9,540,9,550,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.69,NaN
4,Y12H0000101P02T03,Y12H0000101P02,Y12H0000101,1,3,10,600,10,610,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.69,NaN

In [7]:
#Rechecking columns
file.head().columns

Index(['tripid', 'persid', 'hhid', 'stops', 'tripno', 'starthour', 'startime',
       'arrhour', 'arrtime', 'triptime', 'travtime', 'waitime', 'duration',
       'cumdist', 'origplace1', 'origplace2', 'origpurp1', 'origpurp2',
       'destplace1', 'destplace2', 'destpurp1', 'destpurp2', 'origLGA',
       'destLGA', 'trippurp', 'linkmode', 'dist1', 'dist2', 'dist3', 'dist4',
       'dist5', 'dist6', 'dist7', 'dist8', 'dist9', 'dist10', 'mode1', 'mode2',
       'mode3', 'mode4', 'mode5', 'mode6', 'mode7', 'mode8', 'mode9', 'mode10',
       'time1', 'time2', 'time3', 'time4', 'time5', 'time6', 'time7', 'time8',
       'time9', 'time10', 'wdtripwgt_LGA', 'wetripwgt_LGA'],
      dtype='object')

In [8]:
#We want only the rows where a train was used in mode 1 - 10
train_df = file.loc[(file['mode1'] == 'Train') | (file['mode2'] == 'Train') |
                   (file['mode3'] == 'Train') | (file['mode4'] == 'Train') |
                   (file['mode5'] == 'Train') | (file['mode6'] == 'Train') |
                   (file['mode7'] == 'Train') | (file['mode8'] == 'Train') |
                   (file['mode9'] == 'Train') | (file['mode10'] == 'Train')]

In [9]:
#Checking rows of train_df
print(f"The original dataset contained {len(file)} rows. \nWe have cut the dataset down to {len(train_df)} rows")

The original dataset contained 206268 rows.
We have cut the dataset down to 8758 rows

In [10]:
#Displaying train_df Table
train_df.head()

,tripid,persid,hhid,stops,tripno,starthour,startime,arrhour,arrtime,triptime,...,time3,time4,time5,time6,time7,time8,time9,time10,wdtripwgt_LGA,wetripwgt_LGA
16,Y12H0000102P03T01,Y12H0000102P03,Y12H0000102,3,1,8,510,9,580,70,...,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.94,NaN
17,Y12H0000102P03T02,Y12H0000102P03,Y12H0000102,3,2,17,1050,18,1120,70,...,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.94,NaN
28,Y12H0000103P03T02,Y12H0000103P03,Y12H0000103,3,2,15,920,15,950,30,...,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.64,NaN
30,Y12H0000103P04T02,Y12H0000103P04,Y12H0000103,3,2,15,920,15,950,30,...,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.64,NaN
272,Y12H0000303P01T01,Y12H0000303P01,Y12H0000303,3,1,7,430,7,460,30,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.91,NaN

In [11]:
#Looking at removing certain columns
train_df.head().columns

Index(['tripid', 'persid', 'hhid', 'stops', 'tripno', 'starthour', 'startime',
       'arrhour', 'arrtime', 'triptime', 'travtime', 'waitime', 'duration',
       'cumdist', 'origplace1', 'origplace2', 'origpurp1', 'origpurp2',
       'destplace1', 'destplace2', 'destpurp1', 'destpurp2', 'origLGA',
       'destLGA', 'trippurp', 'linkmode', 'dist1', 'dist2', 'dist3', 'dist4',
       'dist5', 'dist6', 'dist7', 'dist8', 'dist9', 'dist10', 'mode1', 'mode2',
       'mode3', 'mode4', 'mode5', 'mode6', 'mode7', 'mode8', 'mode9', 'mode10',
       'time1', 'time2', 'time3', 'time4', 'time5', 'time6', 'time7', 'time8',
       'time9', 'time10', 'wdtripwgt_LGA', 'wetripwgt_LGA'],
      dtype='object')

In [12]:
#Delete useless columns 
del train_df['wdtripwgt_LGA']
del train_df['wetripwgt_LGA']
del train_df['starthour']
del train_df['arrhour']

train_df.head().columns

Index(['tripid', 'persid', 'hhid', 'stops', 'tripno', 'startime', 'arrtime',
       'triptime', 'travtime', 'waitime', 'duration', 'cumdist', 'origplace1',
       'origplace2', 'origpurp1', 'origpurp2', 'destplace1', 'destplace2',
       'destpurp1', 'destpurp2', 'origLGA', 'destLGA', 'trippurp', 'linkmode',
       'dist1', 'dist2', 'dist3', 'dist4', 'dist5', 'dist6', 'dist7', 'dist8',
       'dist9', 'dist10', 'mode1', 'mode2', 'mode3', 'mode4', 'mode5', 'mode6',
       'mode7', 'mode8', 'mode9', 'mode10', 'time1', 'time2', 'time3', 'time4',
       'time5', 'time6', 'time7', 'time8', 'time9', 'time10'],
      dtype='object')

In [13]:
train_df['mode1'].unique()

array(['Vehicle Passenger', 'Walking', 'Bicycle', 'Vehicle Driver',
       'Train', 'Other', 'Public Bus', 'Taxi', 'School Bus', 'Motorcycle',
       'Jogging', 'Tram'], dtype=object)

In [14]:
train_df.loc[train_df['mode7']=='Train'].any().any()

True

In [15]:
#Checking mode value to see which actually contain 'Trains'
for i in range(1,11,1):
    #If values in mode column does not contain any 'Train' values, delete that column
    if (train_df.loc[train_df['mode' +str(i)] == 'Train'].any().any()) == False:
        del train_df['mode'+str(i)]
        #Also delete Time and Distance column assoicated with it
        del train_df['time'+str(i)]
        del train_df['dist'+str(i)]
        print(f"Mode{i} Does not contain train values")
    else:
        print(f"Mode{i} contains train values")

Mode1 contains train values
Mode2 contains train values
Mode3 contains train values
Mode4 contains train values
Mode5 contains train values
Mode6 contains train values
Mode7 contains train values
Mode8 Does not contain train values
Mode9 Does not contain train values
Mode10 Does not contain train values

In [16]:
train_df.head().columns

Index(['tripid', 'persid', 'hhid', 'stops', 'tripno', 'startime', 'arrtime',
       'triptime', 'travtime', 'waitime', 'duration', 'cumdist', 'origplace1',
       'origplace2', 'origpurp1', 'origpurp2', 'destplace1', 'destplace2',
       'destpurp1', 'destpurp2', 'origLGA', 'destLGA', 'trippurp', 'linkmode',
       'dist1', 'dist2', 'dist3', 'dist4', 'dist5', 'dist6', 'dist7', 'mode1',
       'mode2', 'mode3', 'mode4', 'mode5', 'mode6', 'mode7', 'time1', 'time2',
       'time3', 'time4', 'time5', 'time6', 'time7'],
      dtype='object')

In [17]:
#Extract year from trip id 
year = []
for i in range(len(train_df)):
    year.append("20" + train_df['tripid'].iloc[1][1:3])

In [18]:
train_df.insert(loc = 3,
               column = 'Year',
               value = year)

In [21]:
train_df.head().columns

Index(['tripid', 'persid', 'hhid', 'Year', 'stops', 'tripno', 'startime',
       'arrtime', 'triptime', 'travtime', 'waitime', 'duration', 'cumdist',
       'origplace1', 'origplace2', 'origpurp1', 'origpurp2', 'destplace1',
       'destplace2', 'destpurp1', 'destpurp2', 'origLGA', 'destLGA',
       'trippurp', 'linkmode', 'dist1', 'dist2', 'dist3', 'dist4', 'dist5',
       'dist6', 'dist7', 'mode1', 'mode2', 'mode3', 'mode4', 'mode5', 'mode6',
       'mode7', 'time1', 'time2', 'time3', 'time4', 'time5', 'time6', 'time7'],
      dtype='object')