In [1]:
#Importing dependencies 
import pandas as pd 
import os

In [2]:
#Defining path to file
file_path = "/Users/petertram/Desktop/Trips_VISTA_1220_LGA_v1.csv"

In [3]:
#Checking if the path can be read
os.path.isfile(file_path)

True

In [4]:
#Reading the csv file.
file = pd.read_csv(file_path, low_memory=False)

In [5]:
#Checking csv columns names
file.head().columns

Index(['tripid', 'persid', 'hhid', 'stops', 'tripno', 'starthour', 'startime',
       'arrhour', 'arrtime', 'triptime', 'travtime', 'waitime', 'duration',
       'cumdist', 'origplace1', 'origplace2', 'origpurp1', 'origpurp2',
       'destplace1', 'destplace2', 'destpurp1', 'destpurp2', 'origLGA',
       'destLGA', 'trippurp', 'linkmode', 'dist1', 'dist2', 'dist3', 'dist4',
       'dist5', 'dist6', 'dist7', 'dist8', 'dist9', 'dist10', 'mode1', 'mode2',
       'mode3', 'mode4', 'mode5', 'mode6', 'mode7', 'mode8', 'mode9', 'mode10',
       'time1', 'time2', 'time3', 'time4', 'time5', 'time6', 'time7', 'time8',
       'time9', 'time10', 'wdtripwgt_LGA', 'wetripwgt_LGA'],
      dtype='object')

In [6]:
#Display file
file.head()

,tripid,persid,hhid,stops,tripno,starthour,startime,arrhour,arrtime,triptime,...,time3,time4,time5,time6,time7,time8,time9,time10,wdtripwgt_LGA,wetripwgt_LGA
0,Y12H0000101P01T01,Y12H0000101P01,Y12H0000101,1,1,8,525,9,545,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.36,NaN
1,Y12H0000101P01T02,Y12H0000101P01,Y12H0000101,1,2,17,1050,17,1075,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.36,NaN
2,Y12H0000101P02T01,Y12H0000101P02,Y12H0000101,1,1,8,500,8,520,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.69,NaN
3,Y12H0000101P02T02,Y12H0000101P02,Y12H0000101,1,2,9,540,9,550,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.69,NaN
4,Y12H0000101P02T03,Y12H0000101P02,Y12H0000101,1,3,10,600,10,610,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.69,NaN

In [7]:
#Rechecking columns
file.head().columns

Index(['tripid', 'persid', 'hhid', 'stops', 'tripno', 'starthour', 'startime',
       'arrhour', 'arrtime', 'triptime', 'travtime', 'waitime', 'duration',
       'cumdist', 'origplace1', 'origplace2', 'origpurp1', 'origpurp2',
       'destplace1', 'destplace2', 'destpurp1', 'destpurp2', 'origLGA',
       'destLGA', 'trippurp', 'linkmode', 'dist1', 'dist2', 'dist3', 'dist4',
       'dist5', 'dist6', 'dist7', 'dist8', 'dist9', 'dist10', 'mode1', 'mode2',
       'mode3', 'mode4', 'mode5', 'mode6', 'mode7', 'mode8', 'mode9', 'mode10',
       'time1', 'time2', 'time3', 'time4', 'time5', 'time6', 'time7', 'time8',
       'time9', 'time10', 'wdtripwgt_LGA', 'wetripwgt_LGA'],
      dtype='object')

In [8]:
#We want only the rows where a train was used in mode 1 - 10
train_df = file.loc[(file['mode1'] == 'Train') | (file['mode2'] == 'Train') |
                   (file['mode3'] == 'Train') | (file['mode4'] == 'Train') |
                   (file['mode5'] == 'Train') | (file['mode6'] == 'Train') |
                   (file['mode7'] == 'Train') | (file['mode8'] == 'Train') |
                   (file['mode9'] == 'Train') | (file['mode10'] == 'Train')]

In [9]:
#Checking rows of train_df
print(f"The original dataset contained {len(file)} rows. \nWe have cut the dataset down to {len(train_df)} rows")

The original dataset contained 206268 rows.
We have cut the dataset down to 8758 rows

In [10]:
#Displaying train_df Table
train_df.head()

,tripid,persid,hhid,stops,tripno,starthour,startime,arrhour,arrtime,triptime,...,time3,time4,time5,time6,time7,time8,time9,time10,wdtripwgt_LGA,wetripwgt_LGA
16,Y12H0000102P03T01,Y12H0000102P03,Y12H0000102,3,1,8,510,9,580,70,...,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.94,NaN
17,Y12H0000102P03T02,Y12H0000102P03,Y12H0000102,3,2,17,1050,18,1120,70,...,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.94,NaN
28,Y12H0000103P03T02,Y12H0000103P03,Y12H0000103,3,2,15,920,15,950,30,...,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.64,NaN
30,Y12H0000103P04T02,Y12H0000103P04,Y12H0000103,3,2,15,920,15,950,30,...,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.64,NaN
272,Y12H0000303P01T01,Y12H0000303P01,Y12H0000303,3,1,7,430,7,460,30,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.91,NaN

In [11]:
#Looking at removing certain columns
train_df.head().columns

Index(['tripid', 'persid', 'hhid', 'stops', 'tripno', 'starthour', 'startime',
       'arrhour', 'arrtime', 'triptime', 'travtime', 'waitime', 'duration',
       'cumdist', 'origplace1', 'origplace2', 'origpurp1', 'origpurp2',
       'destplace1', 'destplace2', 'destpurp1', 'destpurp2', 'origLGA',
       'destLGA', 'trippurp', 'linkmode', 'dist1', 'dist2', 'dist3', 'dist4',
       'dist5', 'dist6', 'dist7', 'dist8', 'dist9', 'dist10', 'mode1', 'mode2',
       'mode3', 'mode4', 'mode5', 'mode6', 'mode7', 'mode8', 'mode9', 'mode10',
       'time1', 'time2', 'time3', 'time4', 'time5', 'time6', 'time7', 'time8',
       'time9', 'time10', 'wdtripwgt_LGA', 'wetripwgt_LGA'],
      dtype='object')

In [12]:
#Delete useless columns 
del train_df['wdtripwgt_LGA']
del train_df['wetripwgt_LGA']
del train_df['starthour']
del train_df['arrhour']
del train_df['hhid']

train_df.head().columns

Index(['tripid', 'persid', 'stops', 'tripno', 'startime', 'arrtime',
       'triptime', 'travtime', 'waitime', 'duration', 'cumdist', 'origplace1',
       'origplace2', 'origpurp1', 'origpurp2', 'destplace1', 'destplace2',
       'destpurp1', 'destpurp2', 'origLGA', 'destLGA', 'trippurp', 'linkmode',
       'dist1', 'dist2', 'dist3', 'dist4', 'dist5', 'dist6', 'dist7', 'dist8',
       'dist9', 'dist10', 'mode1', 'mode2', 'mode3', 'mode4', 'mode5', 'mode6',
       'mode7', 'mode8', 'mode9', 'mode10', 'time1', 'time2', 'time3', 'time4',
       'time5', 'time6', 'time7', 'time8', 'time9', 'time10'],
      dtype='object')

In [13]:
train_df['mode1'].unique()

array(['Vehicle Passenger', 'Walking', 'Bicycle', 'Vehicle Driver',
       'Train', 'Other', 'Public Bus', 'Taxi', 'School Bus', 'Motorcycle',
       'Jogging', 'Tram'], dtype=object)

In [14]:
train_df.loc[train_df['mode7']=='Train'].any().any()

True

In [15]:
#Checking mode value to see which actually contain 'Trains'
for i in range(1,11,1):
    #If values in mode column does not contain any 'Train' values, delete that column
    if (train_df.loc[train_df['mode' +str(i)] == 'Train'].any().any()) == False:
        del train_df['mode'+str(i)]
        #Also delete Time and Distance column assoicated with it
        del train_df['time'+str(i)]
        del train_df['dist'+str(i)]
        print(f"Mode{i} Does not contain train values")
    else:
        print(f"Mode{i} contains train values")

Mode1 contains train values
Mode2 contains train values
Mode3 contains train values
Mode4 contains train values
Mode5 contains train values
Mode6 contains train values
Mode7 contains train values
Mode8 Does not contain train values
Mode9 Does not contain train values
Mode10 Does not contain train values

In [16]:
train_df.head().columns

Index(['tripid', 'persid', 'stops', 'tripno', 'startime', 'arrtime',
       'triptime', 'travtime', 'waitime', 'duration', 'cumdist', 'origplace1',
       'origplace2', 'origpurp1', 'origpurp2', 'destplace1', 'destplace2',
       'destpurp1', 'destpurp2', 'origLGA', 'destLGA', 'trippurp', 'linkmode',
       'dist1', 'dist2', 'dist3', 'dist4', 'dist5', 'dist6', 'dist7', 'mode1',
       'mode2', 'mode3', 'mode4', 'mode5', 'mode6', 'mode7', 'time1', 'time2',
       'time3', 'time4', 'time5', 'time6', 'time7'],
      dtype='object')

In [17]:
#Extract year from trip id 
year = []
for i in range(len(train_df)):
    year.append("20" + train_df['tripid'].iloc[1][1:3])

In [18]:
train_df.insert(loc = 2,
               column = 'Year',
               value = year)

In [19]:
train_df.head().columns

Index(['tripid', 'persid', 'Year', 'stops', 'tripno', 'startime', 'arrtime',
       'triptime', 'travtime', 'waitime', 'duration', 'cumdist', 'origplace1',
       'origplace2', 'origpurp1', 'origpurp2', 'destplace1', 'destplace2',
       'destpurp1', 'destpurp2', 'origLGA', 'destLGA', 'trippurp', 'linkmode',
       'dist1', 'dist2', 'dist3', 'dist4', 'dist5', 'dist6', 'dist7', 'mode1',
       'mode2', 'mode3', 'mode4', 'mode5', 'mode6', 'mode7', 'time1', 'time2',
       'time3', 'time4', 'time5', 'time6', 'time7'],
      dtype='object')

In [20]:
train_df['mode1'].isna().any()

False

In [21]:
#checking all columns for any NaN values 
for value in train_df.columns:
    if train_df[value].isna().any() == True:
        print(f"{value} column contains NaN values")

duration column contains NaN values
origplace2 column contains NaN values
dist2 column contains NaN values
dist3 column contains NaN values
dist4 column contains NaN values
dist5 column contains NaN values
dist6 column contains NaN values
dist7 column contains NaN values
mode2 column contains NaN values
mode3 column contains NaN values
mode4 column contains NaN values
mode5 column contains NaN values
mode6 column contains NaN values
mode7 column contains NaN values
time2 column contains NaN values
time3 column contains NaN values
time4 column contains NaN values
time5 column contains NaN values
time6 column contains NaN values
time7 column contains NaN values

In [22]:
#Replacing NaN values with zero
train_df = train_df.fillna(0)

In [23]:
train_df.columns

Index(['tripid', 'persid', 'Year', 'stops', 'tripno', 'startime', 'arrtime',
       'triptime', 'travtime', 'waitime', 'duration', 'cumdist', 'origplace1',
       'origplace2', 'origpurp1', 'origpurp2', 'destplace1', 'destplace2',
       'destpurp1', 'destpurp2', 'origLGA', 'destLGA', 'trippurp', 'linkmode',
       'dist1', 'dist2', 'dist3', 'dist4', 'dist5', 'dist6', 'dist7', 'mode1',
       'mode2', 'mode3', 'mode4', 'mode5', 'mode6', 'mode7', 'time1', 'time2',
       'time3', 'time4', 'time5', 'time6', 'time7'],
      dtype='object')

In [24]:
#Renaming columns 
train_df = train_df.rename(columns={"tripid":"Trip_ID",
                                    "persid":"Person_ID",
                                    "stops":"Total_Stops",
                                    "tripno":"Trip_Count",
                                    "startime":"Start_Time",
                                    "arrtime":"Arrival_Time",
                                    "triptime":"Trip_Time",
                                    "travtime":"Travel_Time",
                                    "waitime":"Wait_Time",
                                    "duration":"Duration",
                                    "cumdist":"Total_Distance",
                                    "origplace1":"Original_Place_1",
                                    "origpurp1":"Original_Purpose_1",
                                    "origplace2":"Original_Place_2",
                                    "origpurp2":"Original_Purpose_2",
                                    "destplace1":"Destination_1",
                                    "destpurp1":"Dest_Purpose_1",
                                    "destplace2":"Destination_2",
                                    "destpurp2":"Dest_Purpose_2",
                                    "origLGA":"Starting_LGA",
                                    "destLGA":"Ending_LGA",
                                    "trippurp":"Trip_Purpose",
                                    "linkmode":"Link_Mode",
                                    "dist1":"Dist_1",
                                    'dist2':"Dist_2",
                                    'dist3':"Dist_3",
                                    'dist4':"Dist_4",
                                    'dist5':"Dist_5",
                                    'dist6':"Dist_6",
                                    'dist7':"Dist_7",
                                    'mode1':"Mode_1",
                                    'mode2':"Mode_2",
                                    'mode3':"Mode_3",
                                    'mode4':"Mode_4",
                                    'mode5':"Mode_5",
                                    'mode6':"Mode_6",
                                    'mode7':"Mode_7",
                                    'time1':"Time_1",
                                    'time2':"Time_2",
                                    'time3':"Time_3",
                                    'time4':"Time_4",
                                    'time5':"Time_5",
                                    'time6':"Time_6",
                                    'time7':"Time_7"})

In [25]:
train_df.columns

Index(['Trip_ID', 'Person_ID', 'Year', 'Total_Stops', 'Trip_Count',
       'Start_Time', 'Arrival_Time', 'Trip_Time', 'Travel_Time', 'Wait_Time',
       'Duration', 'Total_Distance', 'Original_Place_1', 'Original_Place_2',
       'Original_Purpose_1', 'Original_Purpose_2', 'Destination_1',
       'Destination_2', 'Dest_Purpose_1', 'Dest_Purpose_2', 'Starting_LGA',
       'Ending_LGA', 'Trip_Purpose', 'Link_Mode', 'Dist_1', 'Dist_2', 'Dist_3',
       'Dist_4', 'Dist_5', 'Dist_6', 'Dist_7', 'Mode_1', 'Mode_2', 'Mode_3',
       'Mode_4', 'Mode_5', 'Mode_6', 'Mode_7', 'Time_1', 'Time_2', 'Time_3',
       'Time_4', 'Time_5', 'Time_6', 'Time_7'],
      dtype='object')

In [26]:
train_df

,Trip_ID,Person_ID,Year,Total_Stops,Trip_Count,Start_Time,Arrival_Time,Trip_Time,Travel_Time,Wait_Time,...,Mode_5,Mode_6,Mode_7,Time_1,Time_2,Time_3,Time_4,Time_5,Time_6,Time_7
16,Y12H0000102P03T01,Y12H0000102P03,2012,3,1,510,580,70,54,16,...,0,0,0,10,34.0,10.0,0.0,0.0,0.0,0.0
17,Y12H0000102P03T02,Y12H0000102P03,2012,3,2,1050,1120,70,56,14,...,0,0,0,10,36.0,10.0,0.0,0.0,0.0,0.0
28,Y12H0000103P03T02,Y12H0000103P03,2012,3,2,920,950,30,28,2,...,0,0,0,5,8.0,15.0,0.0,0.0,0.0,0.0
30,Y12H0000103P04T02,Y12H0000103P04,2012,3,2,920,950,30,28,2,...,0,0,0,5,8.0,15.0,0.0,0.0,0.0,0.0
272,Y12H0000303P01T01,Y12H0000303P01,2012,3,1,430,460,30,30,0,...,0,0,0,10,15.0,5.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205896,Y20H3990403P02T02,Y20H3990403P02,2012,4,2,490,530,40,38,2,...,0,0,0,2,11.0,20.0,5.0,0.0,0.0,0.0
205899,Y20H3990403P02T05,Y20H3990403P02,2012,3,5,1020,1065,45,40,5,...,0,0,0,5,25.0,10.0,0.0,0.0,0.0,0.0
206100,Y20H3991041P01T01,Y20H3991041P01,2012,3,1,450,580,130,130,0,...,0,0,0,15,105.0,10.0,0.0,0.0,0.0,0.0
206101,Y20H3991041P01T02,Y20H3991041P01,2012,3,2,625,735,110,95,15,...,0,0,0,10,70.0,15.0,0.0,0.0,0.0,0.0
206152,Y20H4000222P04T04,Y20H4000222P04,2012,3,4,1025,1076,51,44,7,...,0,0,0,6,33.0,5.0,0.0,0.0,0.0,0.0