In [1]:
#Importing dependencies 
import pandas as pd
import os 
import pprint
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Importing csv from Resources 
path = 'Resources/VISTA_cleaned.csv'
Vista = pd.read_csv(path)

city_line_path = 'Resources/Station_line _map.csv'
City_line = pd.read_csv(city_line_path)

/var/folders/zh/1g9r_87s0_b2prpx9v3501kr0000gn/T/ipykernel_82070/966131605.py:3: DtypeWarning: Columns (37) have mixed types. Specify dtype option on import or set low_memory=False.
  Vista = pd.read_csv(path)

In [3]:
City_line

    Zone         Line name             Station   City council
0      2       Sunbury line            Sunbury       Hume C
1      2       Sunbury line       Diggers Rest       Hume C
2      2       Sunbury line       Watergardens   Brimbank C
3      2       Sunbury line      Keilor Plains   Brimbank C
4      2       Sunbury line          St Albans   Brimbank C
..   ...                ...                ...            ...
359    1  Williamstown line          Flagstaff  Melbourne C
360    1  Williamstown line  Melbourne Central  Melbourne C
361    1  Williamstown line         Parliament  Melbourne C
362    1  Williamstown line     Southern Cross  Melbourne C
363    1  Williamstown line    Flinders Street  Melbourne C

[364 rows x 4 columns]

In [4]:
Vista

,Trip_ID,Person_ID,Year,Total_Stops,Trip_Count,Start_Time,Arrival_Time,Trip_Time,Travel_Time,Wait_Time,...,Mode_5,Mode_6,Mode_7,Time_1,Time_2,Time_3,Time_4,Time_5,Time_6,Time_7
0,Y12H0000101P01T01,Y12H0000101P01,2012.0,1.0,1.0,525.0,545.0,20.0,20.0,0.0,...,0,0,0,20.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Y12H0000101P01T02,Y12H0000101P01,2012.0,1.0,2.0,1050.0,1075.0,25.0,25.0,0.0,...,0,0,0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Y12H0000101P02T01,Y12H0000101P02,2012.0,1.0,1.0,500.0,520.0,20.0,20.0,0.0,...,0,0,0,20.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Y12H0000101P02T02,Y12H0000101P02,2012.0,1.0,2.0,540.0,550.0,10.0,10.0,0.0,...,0,0,0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Y12H0000101P02T03,Y12H0000101P02,2012.0,1.0,3.0,600.0,610.0,10.0,10.0,0.0,...,0,0,0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207742,Y20H4001029P02T01,Y20H4001029P02,2020.0,1.0,1.0,600.0,620.0,20.0,20.0,0.0,...,0,0,0,20.0,0.0,0.0,0.0,0.0,0.0,0.0
207743,Y20H4001029P02T02,Y20H4001029P02,2020.0,1.0,2.0,625.0,640.0,15.0,15.0,0.0,...,0,0,0,15.0,0.0,0.0,0.0,0.0,0.0,0.0
207744,Y20H4001039P01T01,Y20H4001039P01,2020.0,1.0,1.0,540.0,550.0,10.0,10.0,0.0,...,0,0,0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
207745,Y20H4001039P01T02,Y20H4001039P01,2020.0,1.0,2.0,590.0,650.0,60.0,60.0,0.0,...,0,0,0,60.0,0.0,0.0,0.0,0.0,0.0,0.0
207746,Y20H4001039P01T03,Y20H4001039P01,2020.0,1.0,3.0,720.0,730.0,10.0,10.0,0.0,...,0,0,0,10.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
#Checking columns in dataset
Vista.columns

Index(['Trip_ID', 'Person_ID', 'Year', 'Total_Stops', 'Trip_Count',
       'Start_Time', 'Arrival_Time', 'Trip_Time', 'Travel_Time', 'Wait_Time',
       'Duration', 'Total_Distance', 'Original_Place_1', 'Original_Place_2',
       'Original_Purpose_1', 'Original_Purpose_2', 'Destination_1',
       'Destination_2', 'Dest_Purpose_1', 'Dest_Purpose_2', 'Starting_LGA',
       'Ending_LGA', 'Trip_Purpose', 'Link_Mode', 'Dist_1', 'Dist_2', 'Dist_3',
       'Dist_4', 'Dist_5', 'Dist_6', 'Dist_7', 'Mode_1', 'Mode_2', 'Mode_3',
       'Mode_4', 'Mode_5', 'Mode_6', 'Mode_7', 'Time_1', 'Time_2', 'Time_3',
       'Time_4', 'Time_5', 'Time_6', 'Time_7'],
      dtype='object')

In [6]:
LGA_list = ['Mornington Peninsula S','Nillumbik S','Cardinia S',
            'Knox C','Yarra Ranges S','Frankston C','Moreland C',
            'Port Phillip C','Wyndham C','Merri-Bec C','Maroondah C',
            'Casey C','Kingston C','Banyule C','Hobsons Bay C','Moonee Valley C',
            'Greater Dandenong C','Whitehorse C','Brimbank C','Bayside C',
            'Darebin C','Stonnington C','Maribyrnong C','Hume C','Glen Eira C','Boroondara C',
            'Monash C','Yarra C','Whittlesea C','Melbourne C']

In [7]:
#Delete rows of LGA that arent needed
for lga in Vista['Starting_LGA'].unique():
    if lga not in LGA_list:
        print(f"Dropping {lga} from dataframe")
        Vista = Vista.drop(Vista[Vista['Starting_LGA']== lga].index)
        Vista = Vista.drop(Vista[Vista['Ending_LGA']== lga].index)
Vista['Starting_LGA'].unique()

Dropping Manningham C from dataframe
Dropping nan from dataframe
Dropping Melton C from dataframe
Dropping Greater Geelong C from dataframe
Dropping Macedon Ranges S from dataframe
Dropping Moorabool S from dataframe
Dropping Queenscliffe B from dataframe
Dropping Golden Plains S from dataframe
Dropping Murrindindi S from dataframe
Dropping Surf Coast S from dataframe
Dropping Mitchell S from dataframe

array(['Whittlesea C', 'Banyule C', 'Hume C', 'Yarra C', 'Whitehorse C',
       'Darebin C', 'Knox C', 'Maroondah C', 'Nillumbik S', nan,
       'Maribyrnong C', 'Moreland C', 'Boroondara C', 'Brimbank C',
       'Melbourne C', 'Frankston C', 'Greater Dandenong C', 'Kingston C',
       'Mornington Peninsula S', 'Hobsons Bay C', 'Monash C',
       'Stonnington C', 'Wyndham C', 'Glen Eira C', 'Port Phillip C',
       'Bayside C', 'Casey C', 'Moonee Valley C', 'Yarra Ranges S',
       'Cardinia S'], dtype=object)

## Grouping the data by starting and ending LGA

In [ ]:
#Grouping by starting LGA and counting the rows in each group
Start_LGA_df = Vista.groupby(by='Starting_LGA').count().reset_index(drop=False)

In [ ]:
#Removing uncessary columns
Start_LGA_df = Start_LGA_df[['Starting_LGA','Trip_ID']]
#Renaming the column for merge later
Start_LGA_df = Start_LGA_df.rename(columns = {'Starting_LGA':'LGA','Trip_ID':'Starting LGA count'})

In [ ]:
#Grouping by ending LGA 
Ending_LGA_df = Vista.groupby(by='Ending_LGA').count().reset_index(drop=False)

In [ ]:
#Removing uncessary columns
Ending_LGA_df = Ending_LGA_df[['Ending_LGA','Trip_ID']]
#Renaming the column for merge later
Ending_LGA_df = Ending_LGA_df.rename(columns = {'Ending_LGA':'LGA','Trip_ID':'Ending LGA count'})

In [ ]:
#Merge the LGA counts dataframes
LGA_count = pd.merge(Start_LGA_df,Ending_LGA_df,on='LGA')

In [ ]:
#Sort by increasing starting LGA count
LGA_count = LGA_count.sort_values('Starting LGA count')

In [ ]:
#Changing values to log 
LGA_count['Start Log Value'] = np.log2(LGA_count['Starting LGA count'])
LGA_count['End Log Value'] = np.log2(LGA_count['Ending LGA count'])

In [ ]:
LGA_count.sort_values('Starting LGA count')

In [ ]:
#Create pie chart for melbourne compared to others
labels = LGA_count['LGA'].unique()

sizes = LGA_count['Starting LGA count']


fig, ax = plt.subplots()
patches, labels, pct_texts = ax.pie(sizes,labels=labels,rotatelabels=True,autopct='%1.2f%%')
plt.title('Start LGA',pad=100)

for label, pct_text in zip(labels, pct_texts):
    pct_text.set_rotation(label.get_rotation())
plt.savefig(f"Images/Vista/Vista_Start_LGA_Pie.png")
plt.show()

In [ ]:
#Create pie chart for melbourne compared to others
labels = LGA_count['LGA'].unique()
sizes2= LGA_count['Ending LGA count']

fig, ax = plt.subplots()
patches, labels, pct_texts = ax.pie(sizes2,labels=labels,rotatelabels=True,autopct='%1.2f%%')
plt.title('Ending LGA',pad=100)

for label, pct_text in zip(labels, pct_texts):
    pct_text.set_rotation(label.get_rotation())
plt.savefig(f"Images/Vista/Vista_End_LGA_Pie.png")
plt.show()

In [ ]:
#Plotting log count of travel for each LGA 
LGA_count.plot(kind='bar',x = 'LGA',y=['Start Log Value','End Log Value'],ylabel='Log Counts of Travel')
plt.ylim(11,14)
plt.show()

In [ ]:
#Plotting counts of travel for each LGA
LGA_count.plot(kind='bar',x = 'LGA',y=['Starting LGA count','Ending LGA count'],ylabel= 'Counts of Travel')
plt.tight_layout
plt.savefig(f"Images/Vista/Vista_LGA_Bargraph.png")
plt.show()

## Grouping by purpose of travel

In [ ]:
#Grouping by trip purpose
purpose_travel = Vista.groupby(by = 'Trip_Purpose').count()

In [ ]:
#Resetting index and retrieveing only columns trip purpose and trip id
purpose_travel_df = purpose_travel.reset_index(drop=False)[['Trip_Purpose','Trip_ID']]

In [ ]:
purpose_travel_df = purpose_travel_df.sort_values(by='Trip_ID')

In [ ]:
purpose_travel_df.head()

##

## Checking the usage of Bus, Train, Tram over 2018-2020

In [ ]:
#Find the total counts Link_Mode for bus train and trams (The main mode of transport)
Mode_year_df = Vista.groupby(by=['Link_Mode','Year']).count().reset_index()

In [ ]:
Mode_year_df.head()

In [ ]:
#Taking only years 2018-2020
Mode_year_df = Mode_year_df.loc[((Mode_year_df['Year']==2018)|(Mode_year_df['Year']==2019)|(Mode_year_df['Year']==2020))]

In [ ]:
#Plot scatter of counts over time
plt.subplots()
plt.plot(Mode_year_df.loc[Mode_year_df['Link_Mode']=='Train']['Year'],Mode_year_df.loc[Mode_year_df['Link_Mode']=='Train']['Trip_ID'],label='Train',color='Blue')
plt.plot(Mode_year_df.loc[Mode_year_df['Link_Mode']=='Tram']['Year'],Mode_year_df.loc[Mode_year_df['Link_Mode']=='Tram']['Trip_ID'],label='Tram',color='Orange')
plt.plot(Mode_year_df.loc[Mode_year_df['Link_Mode']=='Public Bus']['Year'],Mode_year_df.loc[Mode_year_df['Link_Mode']=='Public Bus']['Trip_ID'],label='Public Bus',color='Green')
plt.xticks((2018,2019,2020))
plt.title('Counts of main transport modes')
plt.xlabel('Year')
plt.ylabel('Counts')
plt.grid()
plt.savefig(f"Images/Vista/Vista_Transport_Passenger_LineGraph.png")
plt.legend()

In [ ]:
#Grouping by link mode 
Mode_df = Vista.groupby(by='Link_Mode').count().reset_index()

In [ ]:
#Retrieving only rows that either contain train tram or pulbic bus
Mode_df = Mode_df.loc[(Mode_df['Link_Mode']=='Train')|(Mode_df['Link_Mode']=='Tram')|(Mode_df['Link_Mode']=='Public Bus')]
Mode_df

In [ ]:
#Plot Pie Graph of main modes of transport used 
labels = Mode_df['Link_Mode'].unique()

sizes = Mode_df['Trip_ID']
fig, ax = plt.subplots()
colors = ['Green','Blue','Orange']
ax.pie(sizes,labels=labels,colors=colors,rotatelabels=True,autopct='%1.1f%%')
plt.title('Percentage of main transport modes between Train, Tram,& Bus')
plt.show()

In [ ]:
#Get the counts of Public Bus, Train, Tram in Mode 1 - 10
Bus_counter = 0
Train_counter = 0
Tram_counter = 0

counts_df = Vista[['Mode_1','Mode_2','Mode_3','Mode_4','Mode_5','Mode_6','Mode_7',]]

In [ ]:
#Saving counts for each mode into their list
for column in counts_df:
        Bus_counter = Bus_counter + counts_df[column].value_counts()['Public Bus']
        Train_counter = Train_counter + counts_df[column].value_counts()['Train']
        Tram_counter = Tram_counter + counts_df[column].value_counts()['Tram']

In [ ]:
#Turn counts into a dataframe to plot
labels = ['Bus','Train','Tram']
counts = [Bus_counter,Train_counter,Tram_counter]
data = {'Mode of Transport':labels,'Counts of Transport':counts}
Mode_counts = pd.DataFrame(data=data)

In [ ]:
Mode_counts

In [ ]:
#Plot Pie Graph of Modes used.

sizes = Mode_counts['Counts of Transport']
fig, ax = plt.subplots()
colors = ['Green','Blue','Orange']
ax.pie(sizes,labels=labels,colors=colors,rotatelabels=True,autopct='%1.1f%%')
plt.title('Percentage of Mode Transport between Train, Tram & Bus')
plt.savefig(f"Images/Vista/Vista_Transport_Mode_Pie.png")
plt.show()

In [ ]:
test = Vista.groupby(by='Starting_LGA').mean(numeric_only=True).reset_index(drop=False)

In [ ]:
test[['Starting_LGA','Travel_Time']]

In [ ]:
#Create bar graph on trip purpose 
Vista.groupby(by='Trip_Purpose').count().reset_index()[['Trip_Purpose','Trip_ID']].sort_values('Trip_ID').plot(kind='bar',x='Trip_Purpose')

## Checking counts of trips purpose by city council area

In [ ]:
test = Vista.groupby(by=['Starting_LGA','Trip_Purpose']).count().reset_index()[['Starting_LGA','Trip_Purpose','Trip_ID']]

In [ ]:
#test = test.loc[test['Trip_Purpose']=='Work Related'].sort_values(['Trip_ID'])

In [ ]:
test = test.sort_values('Trip_ID')

In [ ]:
test = test.pivot(index='Trip_Purpose',columns='Starting_LGA').reset_index()#.plot(kind='bar',legend=False)

In [ ]:
test

In [ ]:
for purpose in test['Trip_Purpose'].unique():
    test.loc[test['Trip_Purpose']==purpose].sort_values(by='Trip_Purpose',axis=0).plot(kind='bar',x ='Trip_Purpose').legend(loc='right',bbox_to_anchor=(2, 0.5))
    plt.xlabel('Trip Purpose')
    plt.ylabel('Counts of Trips')
    plt.xticks(rotation=360)
    plt.tight_layout
    plt.savefig(f"Images/Vista/Vista_{purpose}_bar_.png")